<div class="modal-header">
    <button class="btn glyphicon glyphicon-remove" style="float:right" ng-click="close()"></button>
    <h4 class="modal-title">{{'calculatorModal.title' | translateText}}</h4>
</div>
<div class="modal-body">

    <div class="row">
        <div class="col-xs-12">
            <input type="text" class="form-control" ng-model="memory" style="text-align: right" disabled>
            <input type="text" class="form-control" ng-model="input" style="text-align: right" disabled>
        </div>
    </div>
    
    <table class="calculator-keybord">
        <tr>
            <td><button type="button" class="btn btn-default" ng-click="press(7)" dir-press-key >7</button></td>
            <td><button type="button" class="btn btn-default" ng-click="press(8)">8</button></td>
            <td><button type="button" class="btn btn-default" ng-click="press(9)">9</button></td>
            <td><button type="button" class="btn btn-default" ng-click="operation('+')">+</button></td>
            <td><button type="button" class="btn btn-default glyphicon glyphicon-arrow-left" ng-click="clearLastOne()"></button></td>
        </tr>
        <tr>
            <td><button type="button" class="btn btn-default" ng-click="press(4)">4</button></td>
            <td><button type="button" class="btn btn-default" ng-click="press(5)">5</button></td>
            <td><button type="button" class="btn btn-default" ng-click="press(6)">6</button></td>
            <td><button type="button" class="btn btn-default" ng-click="operation('-')">-</button></td>
            <td><button type="button" class="btn btn-default" ng-click="clear()">C</button></td>
        </tr>
        <tr>
            <td><button type="button" class="btn btn-default" ng-click="press(1)">1</button></td>
            <td><button type="button" class="btn btn-default" ng-click="press(2)">2</button></td>
            <td><button type="button" class="btn btn-default" ng-click="press(3)">3</button></td>
            <td><button type="button" class="btn btn-default" ng-click="operation('/')">/</button></td>
            <td><button type="button" class="btn btn-default" ng-click="clearAll()">CE</button></td>
        </tr>
        <tr>
            <td><button type="button" class="btn btn-default" ng-click="press(0)">0</button></td>
            <td><button type="button" class="btn btn-default" ng-click="press('.')">,</button></td>
            <td><button type="button" class="btn btn-default" ng-click="result()">=</button></td>
            <td><button type="button" class="btn btn-default" ng-click="operation('*')">*</button></td>
            <td></td>
        </tr>
    </table>

</div>
<div class="modal-footer">
    <button ng-disabled="loading" type="button" class="btn btn-default" ng-click="close()">{{'generic.close' | translateText}}</button>
    <img src="/assets/images/modal-loading.gif" ng-show="loading"/>
</div>