<div class="modal-header">
    <button class="btn glyphicon glyphicon-remove" style="float:right" ng-click="close()"></button>
    <h4 class="modal-title">{{'calculatorModal.title' | translateText}}</h4>
</div>
<div class="modal-body">

    <div class="row">
        <div class="col-xs-12">
            <input type="text" class="form-control" ng-model="memory" style="text-align: right" disabled>
            <input type="text" class="form-control" ng-model="input" style="text-align: right" disabled>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1"></div>
        <button type="button" class="btn btn-default col-xs-2" ng-click="press(7)" dir-press-key >7</button>
        <button type="button" class="btn btn-default col-xs-2" ng-click="press(8)" col-xs-2>8</button>
        <button type="button" class="btn btn-default col-xs-2" ng-click="press(9)" col-xs-2>9</button>
        <button type="button" class="btn btn-default col-xs-2" ng-click="operation('+')" col-xs-2>+</button>
        <button type="button" class="btn btn-default col-xs-2 glyphicon glyphicon-arrow-left" ng-click="clearLastOne()" col-xs-2></button>
        <div class="col-xs-1"></div>
    </div>
    <div class="row">
        <div class="col-xs-1"></div>
        <button type="button" class="btn btn-default col-xs-2" ng-click="press(4)" col-xs-2>4</button>
        <button type="button" class="btn btn-default col-xs-2" ng-click="press(5)" col-xs-2>5</button>
        <button type="button" class="btn btn-default col-xs-2" ng-click="press(6)" col-xs-2>6</button>
        <button type="button" class="btn btn-default col-xs-2" ng-click="operation('-')" col-xs-2>-</button>
        <button type="button" class="btn btn-default col-xs-2" ng-click="clear()" col-xs-2>C</button>
        <div class="col-xs-1"></div>
    </div>
    <div class="row">
        <div class="col-xs-1"></div>
        <button type="button" class="btn btn-default col-xs-2" ng-click="press(1)" col-xs-2>1</button>
        <button type="button" class="btn btn-default col-xs-2" ng-click="press(2)" col-xs-2>2</button>
        <button type="button" class="btn btn-default col-xs-2" ng-click="press(3)" col-xs-2>3</button>
        <button type="button" class="btn btn-default col-xs-2" ng-click="operation('/')" col-xs-2>/</button>
        <button type="button" class="btn btn-default col-xs-2" ng-click="clearAll()" col-xs-2>CE</button>
        <div class="col-xs-2"></div>
        <div class="col-xs-1"></div>
    </div>
    <div class="row">
        <div class="col-xs-1"></div>
        <button type="button" class="btn btn-default col-xs-2" ng-click="press(0)" col-xs-2>0</button>
        <button type="button" class="btn btn-default col-xs-2" ng-click="press('.')" col-xs-2>,</button>
        <button type="button" class="btn btn-default col-xs-2" ng-click="result()" col-xs-2>=</button>
        <button type="button" class="btn btn-default col-xs-2" ng-click="operation('*')" col-xs-2>*</button>
        <div class="col-xs-2"></div>
        <div class="col-xs-1"></div>
    </div>

</div>
<div class="modal-footer">
    <button ng-disabled="loading" type="button" class="btn btn-default" ng-click="close()">{{'generic.close' | translateText}}</button>
    <img src="/assets/images/modal-loading.gif" ng-show="loading"/>
</div>