<div class="modal-header">
    <button class="btn glyphicon glyphicon-remove" style="float:right" ng-click="close()"></button>
    <h4 class="modal-title">{{'createFaqModal.title' | translateText}}</h4>
</div>
<div class="modal-body"  dir-enter="save()">


    <dir-field-text ng-info="fields.key"></dir-field-text>

    <table class="survey-create-table">
        <tr>
            <td></td>
            <td ng-repeat="lang in langs">
                {{lang}}
            </td>
        </tr>
        <tr>
            <td>Question</td>
            <td ng-repeat="(lang,question) in fields.questions">
                <dir-field-text ng-info="question"></dir-field-text>
            </td>
        </tr>
        <tr ng-repeat="choice in choices">
            <td>Answer</td>
            <td ng-repeat="(lang,answer) in choice">
                <dir-field-text ng-info="answer"></dir-field-text>
            </td>
        </tr>
    </table>

    <button  type="button" class="btn btn-default" ng-click="addAnswer()">Add answer</button>
</div>
<div class="modal-footer">
    <button ng-disabled="loading" type="button" class="btn btn-default" ng-click="close()">{{'generic.close' | translateText}}</button>
    <button ng-disabled="loading" type="button" class="btn btn-primary" ng-click="save()">{{'generic.save' | translateText}}</button>
    <img src="/assets/images/modal-loading.gif" ng-show="loading" />
</div>