<div class="modal-header">
    <button class="btn glyphicon glyphicon-remove" style="float:right" ng-click="close()"></button>
    <h4 class="modal-title">Modal title</h4>
</div>
<div class="modal-body container">


    <dir-field-date ng-info="fields.date"></dir-field-date>

    <dir-field-text ng-info="fields.description"></dir-field-text>

    <dir-field-text ng-info="fields.value" ng-show="balanced"></dir-field-text>

    <dir-field-text ng-info="fields.category" ng-show="balanced"></dir-field-text>

    <div class="row form-group">
        <label class="col-md-3">Répartition équitable</label>
        <input class="col-md-6" type="checkbox" ng-model="balanced" value="true"/>
    </div>

    <div class="row">
        <div class="col-md-2 col-xs-3 payer-list" ng-repeat="roommate in roommateList">
            <input type="checkbox" ng-model="fields[roommate.id].isDebtor"/>

            <div class="user_icon" ng-show="!!roommate.nameAbrv" style="
                        background: hsl({{roommate.iconColor}},80%, 60%); /* Old browsers */
                        background: -moz-linear-gradient(top,  hsl({{roommate.iconColor}},80%, 60%) 0%, hsl({{roommate.iconColor}},80%, 30%) 100%); /* FF3.6+ */
                        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,hsl({{roommate.iconColor}},80%, 60%)), color-stop(100%,hsl({{roommate.iconColor}},80%, 30%))); /* Chrome,Safari4+ */
                        background: -webkit-linear-gradient(top,  hsl({{roommate.iconColor}},80%, 60%) 0%,hsl({{roommate.iconColor}},80%, 30%) 100%); /* Chrome10+,Safari5.1+ */
                        background: -o-linear-gradient(top,  hsl({{roommate.iconColor}},80%, 60%) 0%,hsl({{roommate.iconColor}},80%, 30%) 100%); /* Opera 11.10+ */
                        background: -ms-linear-gradient(top,  hsl({{roommate.iconColor}},80%, 60%) 0%,hsl({{roommate.iconColor}},80%, 30%) 100%); /* IE10+ */
                        background: linear-gradient(to bottom,  hsl({{roommate.iconColor}},80%, 60%) 0%,hsl({{roommate.iconColor}},80%, 30%) 100%); /* W3C */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='hsl({{roommate.iconColor}},80%, 60%)', endColorstr='hsl({{roommate.iconColor}},80%, 30%)',GradientType=0 ); /* IE6-9 */">
                {{roommate.nameAbrv}}
            </div>
            <input
                    type="text"
                    ng-show="fields[roommate.id].isDebtor"
                    class="form-control ng-pristine ng-valid"
                    ng-disabled="balanced"
                    ng-model="fields[roommate.id].field"
                    numbers-only="double"
                    >
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="close()">@Messages("generic.close")</button>
    <button type="button" class="btn btn-primary" ng-click="save()">@Messages("generic.submit")</button>
</div>