<div class="modal-header" >
    <button class="btn glyphicon glyphicon-remove" style="float:right" ng-click="close()"></button>
    <h4 class="modal-title" ng-show="edit">{{'cuTicket.title.edit' | translateText}}</h4>
    <h4 class="modal-title" ng-hide="edit">{{'cuTicket.title.create' | translateText}}</h4>
</div>
<div class="modal-body" dir-enter="submit()">


    <dir-field-date ng-info="fields.date"></dir-field-date>

    <dir-field-text ng-info="fields.description"></dir-field-text>

    <dir-field-text ng-info="fields.category"></dir-field-text>

    <div class="row form-group">
        <label class="col-md-3">{{'cuTicket.balancedRepartition'  | translateText}}</label>
        <input ng-disabled="loading" class="col-md-6" type="checkbox" ng-model="balanced" value="true"/>
    </div>

    <dir-field-text ng-info="fields.value"></dir-field-text>


    <div class="row">
        <div class="col-md-2 col-xs-3 payer-list" ng-repeat="roommate in roommateList">
            <input ng-disabled="loading" type="checkbox" ng-model="fields[roommate.id].isDebtor"/>
            <dir-user-icon ng-user="roommate"></dir-user-icon>

            <div class="form-group">
                <div class="input-group">

                    <input
                            ng-disabled="loading || !fields[roommate.id].isDebtor || balanced"
                            type="text"
                            ng-show="fields[roommate.id].isDebtor"
                            class="form-control ng-pristine ng-valid money"
                            ng-disabled="balanced"
                            ng-model="fields[roommate.id].field"
                            numbers-only="double"
                            >
                    <span class="input-group-addon">{{money}}</span>
                </div>
            </div>


        </div>
    </div>
</div>
<div class="modal-footer">
    <button ng-disabled="loading" type="button" class="btn btn-default" ng-click="close()">{{'generic.close' | translateText}}</button>
    <button ng-disabled="loading" type="button" class="btn btn-primary" ng-click="save()">{{'generic.save' | translateText}}</button>
    <img src="/assets/images/modal-loading.gif" ng-show="loading" />
</div>