<div class="input-text field_text row" ng-class="{'error' : displayError()===true,'has-calculator': getInfo().hasCalculator===true}">
    <div class="form-group">
        <label class="control-label col-md-3" ng-show="getInfo().fieldTitle">{{getInfo().fieldTitle | translateText}}</label>
        <div class="col-md-6">
            <div ng-class="{'input-group':!!getInfo().money}">
                <button class="calculator btn btn-sm btn-default fa fa-calculator" ng-click="openCalculator()"></button>

                <input type="{{fieldType}}"
                       name="{{getInfo().name}}"
                       ng-disabled="getInfo().disabled()"
                       ng-model="getInfo().field"
                       numbers-only="{{getInfo().numbersOnly}}"
                       ng-class="{input_number: getInfo().numbersOnly === 'integer' || getInfo().numbersOnly === 'double',
                       'money':!!getInfo().money}"
                       placeholder="{{getInfo().placeholder}}"
                       dir-focus-me="getInfo().focus()"
                        class="form-control"
                        typeahead="c as c for c in getInfo().autoCompleteValue | filter:$viewValue | limitTo:10"
                        typeahead-min-length='1'>
                <span ng-show="!!getInfo().money" class="input-group-addon">{{getInfo().money}}</span>
            </div>
        </div>
        <div class="col-md-3 errors" ng-show="displayError()===true">{{getInfo().validationMessage | translateText}}</div>
    </div>
    <div class="col-md-3 hidden-sm hidden-xs"></div>
    <div class="col-md-6 help" ng-show="getInfo().details!=null">{{getInfo().details | translateText}}</div>
</div>
