.payer-list{
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    & > *{
        display: inline-block;
    }
}

.count-resume{

    .table-header{
        border-bottom: 1px solid #cccccc;
        padding-bottom: 5px;
        margin-bottom: 5px;
    }

    .table-footer{
        border-top: 1px solid #cccccc;
        padding-top: 5px;
        margin-top: 5px;
    }

    .user-box{
        & > *{
            display: inline-block;
        }
    }

    .resolution-box{
        & > *{
            min-height: 40px;
            vertical-align: middle;
            text-align: center;
            &.icon-box{
                padding-top: 15px;
            }
        }
    }
}
