.input-text {

    .calculator{
        display: none;
    }

    &.has-calculator {

        .calculator {
            display: block;
            position: absolute;
            z-index: 10;
            margin-top: 1px;
            margin-left: 2px;
        }
        input{
            padding-left: 40px;
        }
    }

}