@import be.flo.roommateService.models.RegistrationForm
@(data:be.flo.roommateService.dto.InterfaceDataDTO,registrationForm:Form[RegistrationForm])

@import helper._
@import com.fasterxml.jackson.databind.ObjectMapper

@implicitField = @{ FieldConstructor(widget.fieldCustom.f) }


@home_pattern("profile.myProfile.title", data.getMySelf) {
<div class="content-block" ng-controller="ProfileMyProfileCtrl" dir-enter="save()">


        <!-- load data -->
    <script>
        var data = @Html(new ObjectMapper().writeValueAsString(data));
    </script>

    <h3>@Messages("registration.form.title")</h3>

    <dir-field-select ng-info="fields.languages"></dir-field-select>

    <dir-field-text ng-info="fields.name"></dir-field-text>
    <dir-field-text ng-info="fields.nameAbrv"></dir-field-text>
    <dir-field-text ng-info="fields.email"></dir-field-text>

    <!--
    <div class="form-group">
        <div class="row">
            <label class="col-md-3">@Messages("registration.form.yourEmail")</label>
            <div class="col-md-6">
                <input ng-model="roommate.email" type="text" class="form-control" disabled>
                <button type="button" class="btn btn-primary" ng-click="changeEmail()">Change email</button>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
-->
    <div class="form-group">
        <div class="row">
            <label class="col-md-3">@Messages("registration.form.password")</label>
            <div class="col-md-6">
                <input value="********" type="text" class="form-control" disabled>
                <button type="button" class="btn btn-primary" ng-click="changePassword()">Change password</button>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>



    <div class="form-group">
        <div class="row">
            <label class="col-md-3">@Messages("registration.form.keepSessionOpen")</label>
            <div class="col-md-6">
                <input ng-disabled="loading" type="checkbox" ng-model="roommate.keepSessionOpen">
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>

    <div class="col-md-3 hidden-sm hidden-xs"></div>
    <div class="actions">
        <input ng-disabled="loading" type="button" ng-click="save()" class="btn btn-primary" value="@Messages("generic.save")">
        <img src="/assets/images/modal-loading.gif" ng-show="loading" />
    </div>
</div>
}