@(data:dto.InterfaceDataDTO,currentYear:String)

@import com.fasterxml.jackson.databind.ObjectMapper

@home_pattern("about.title", data.getMySelf()) {
    <div class="content-block" ng-controller="AboutCtrl">

        <div style="text-align: center">
            <img src="/assets/images/icon_400.png" style="width: 200px;height: 200px"/>
        </div>

        <p>@Messages("site.name")</p>
        <a href="http://www.myroommatesapp.com">www.myroommatesapp.com</a>
        <p>Android application : MyRoommates</p>
        <p>copyright 2014-@currentYear</p>

    </div>
}