<div class="input-text field_text row" ng-class="{'error' : displayError()===true,'has-calculator': getInfo().hasCalculator===true}">
    <div class="form-group">
        <label class="control-label col-md-3" ng-show="getInfo().fieldTitle">{{getInfo().fieldTitle | translateText}}</label>
        <div class="col-md-6">
            <div ng-class="{'input-group':!!getInfo().money}">
                <button class="calculator btn btn-sm btn-default glyphicon glyphicon-th-list" ng-click="openCalculator()"></button>

                <select ng-disabled="getInfo().disabled()"
                        ng-model="getInfo().field"
                        dir-focus-me="getInfo().focus()"
                        ng-options="option.key as option.value | translateText for option in getInfo().options"
                        class="form-control">

                </select>
            </div>
        </div>
        <div class="col-md-3 errors" ng-show="displayError()===true">{{getInfo().validationMessage | translateText}}</div>
    </div>
    <div class="col-md-3 hidden-sm hidden-xs"></div>
    <div class="col-md-6 help" ng-show="getInfo().details!=null">{{getInfo().details | translateText}}</div>
</div>
