@(account: dto.RoommateDTO)
<div class="user_icon" style="
    background: #87e0fd; /* Old browsers */
    background: -moz-linear-gradient(top,  hsl(@account.getIconColor,80%, 60%) 0%, hsl(@account.getIconColor,80%, 30%) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,hsl(@account.getIconColor,80%, 60%)), color-stop(100%,hsl(@account.getIconColor,80%, 30%))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  hsl(@account.getIconColor,80%, 60%) 0%,hsl(@account.getIconColor,80%, 30%) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  hsl(@account.getIconColor,80%, 60%) 0%,hsl(@account.getIconColor,80%, 30%) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  hsl(@account.getIconColor,80%, 60%) 0%,hsl(@account.getIconColor,80%, 30%) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  hsl(@account.getIconColor,80%, 60%) 0%,hsl(@account.getIconColor,80%, 30%) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='hsl(@account.getIconColor,80%, 60%)', endColorstr='hsl(@account.getIconColor,80%, 30%)',GradientType=0 ); /* IE6-9 */">
    @account.getNameAbrv()
</div>