@(data:dto.InterfaceDataDTO, countResumeList: dto.ListDTO[dto.count.CountResumeDTO],ticketList: dto.ListDTO[dto.TicketDTO])

@import com.fasterxml.jackson.databind.ObjectMapper

@home_pattern("count.resume.title", data.getMySelf) {
<div ng-controller="CountResumeCtrl" class="count-resume">
    <div class="content-block">

        <h3>@Messages("count.resume.title")</h3>

        <div>

                <!-- load data -->
            <script>
            var data = @Html(new ObjectMapper().writeValueAsString(data));
            var countResumeList = @Html(new ObjectMapper().writeValueAsString(countResumeList));
            var ticketList = @Html(new ObjectMapper().writeValueAsString(ticketList));
            </script>

            <div class="row table-header">
                <div class="col-md-2 hidden-sm hidden-xs" style="height: 20px"></div>
                <div class="col-md-2 col-xs-3 value"></div>
                <div class="col-md-2 col-xs-3 value">@Messages("count.resume.spend")</div>
                <div class="col-md-2 col-xs-3 value">@Messages("count.resume.due")</div>
                <div class="col-md-2 col-xs-3 value">@Messages("count.resume.balance")</div>
                <div class="col-md-2 hidden-sm hidden-xs" style="height: 20px"></div>
            </div>

            <div class="row" ng-repeat="countResume in countResumeList">

                <div class="col-md-2 hidden-sm hidden-xs" style="height: 40px"></div>
                <div class="col-md-2 col-xs-3 user-box">
                    <dir-user-icon ng-user="countResume.roommate"></dir-user-icon>
                    <span class="hidden-xs">{{countResume.roommate.name}}</span>
                </div>
                <div class="col-md-2 col-xs-3 value">
                    {{countResume.spend | number:2}}€
                </div>
                <div class="col-md-2 col-xs-3 value">
                    {{countResume.dept | number:2}}€
                </div>
                <div class="col-md-2 col-xs-3 value" ng-class="{'red':sub(countResume.spend,countResume.dept)<0,'green':sub(countResume.spend,countResume.dept)>0}">
                    {{sub(countResume.spend,countResume.dept) | number:2}}€
                </div>
                <div class="col-md-2 hidden-sm hidden-xs" style="height: 40px"></div>

            </div>

            <div class="row table-footer">
                <div class="col-md-2 hidden-sm hidden-xs" style="height: 40px"></div>
                <div class="col-md-2 col-xs-3" style="padding-left: 30px">@Messages("generic.total")</div>
                <div class="col-md-2 col-xs-3 value">{{totalSpend()  | number:2}}€</div>
                <div class="col-md-2 col-xs-3 value">{{totalDept()  | number:2}}€</div>
                <div class="col-md-2 col-xs-3 value"></div>
                <div class="col-md-2 hidden-sm hidden-xs" style="height: 40px"></div>
            </div>

        </div>
    </div>

    <div class="content-block">
        <h3>@Messages("count.resume.howToResolve")</h3>

        <div ng-repeat="balance in balanceList" class="row resolution-box">
            <div class="hidden-xs hidden-sm  col-md-2 col-lg-3">
            </div>
            <div class="col-xs-2 col-lg-1 col-md-2">
                <span>
                    <dir-user-icon ng-user="balance.from"></dir-user-icon>
                </span>
            </div>
            <div class="col-xs-2 col-lg-1  col-md-1 icon-box">
                    <span class="glyphicon glyphicon-circle-arrow-right">
                </span>

            </div>
            <div  class="col-xs-2 col-lg-1  col-md-2 icon-box value" >
                <span>
                    {{balance.value | number:2}}€
                </span>
            </div>
            <div class="col-xs-2 col-lg-1  col-md-1 icon-box">
                    <span class="glyphicon glyphicon-circle-arrow-right">
                </span>
            </div>
            <div  class="col-xs-2 col-lg-1 col-md-2">
                <span>
                    <dir-user-icon ng-user="balance.to"></dir-user-icon>
                </span>
            </div>
            <div  class="col-xs-2 col-lg-4  col-md-2">
            </div>
        </div>
    </div>
</div>
}