@(data:dto.InterfaceDataDTO, roommateList: dto.ListDTO[dto.RoommateDTO], ticketList: dto.ListDTO[dto.TicketDTO])

@import com.fasterxml.jackson.databind.ObjectMapper

@home_pattern("count.tickets.title", data.getMySelf) {

<div class="content-block">

    <div ng-controller="CountTicketCtrl" class="ticket-list">

        <!-- load data -->
        <script>
            var data = @Html(new ObjectMapper().writeValueAsString(data));
            var ticketList = @Html(new ObjectMapper().writeValueAsString(ticketList));
            var roommateList = @Html(new ObjectMapper().writeValueAsString(roommateList.getList));
        </script>

        <div class="row">
            <div class="col-lg-4 col-md-2 hidden-xs"></div>
            <a class="btn btn-primary col-lg-4 col-md-8 col-xs-12"  ng-click="createOrEditTicket()" href="#" >Create new ticket</a>
        </div>

        <div class="row">
            <div class="col-md-12">
                <label>@Messages("count.tickets.sortBy")</label>
                <select ng-options="choice.ref as choice.label | translateText for choice in sortSelection" ng-model="sortOption"></select>
            </div>
        </div>


        <ul class="element_list">
            <li class="row" ng-repeat="ticket in ticketList">

                <div class="col-md-1 col-xs-2 payer-box">
                    <p>
                        <dir-user-icon ng-user="getRoommate(ticket.payerId)"></dir-user-icon>
                    </p>
                    <p>{{getGlobalValue(ticket)  | number:2}}€</p>
                </div>
                <div class="col-md-10  col-xs-8">
                    <div class="row info-box">

                        <div class="col-md-2 col-xs-12">{{ticket.category}}</div>
                        <div class="col-md-8 col-xs-7">{{ticket.description}}</div>
                        <div class="col-md-2 col-xs-5" style=";font-size: 12px">{{ticket.date | date:'mediumDate'}}</div>
                    </div>

                    <div class="row">
                        <div ng-repeat="debtor in ticket.debtorList" class="col-md-3 col-sm-4 col-xs-6 value-box">
                            <div>
                                <dir-user-icon ng-user="getRoommate(debtor.roommateId)" ng-little="true"></dir-user-icon>
                                <div>{{debtor.value  | number:2 }}€</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1  col-xs-2">
                    <div ng-show="myself.id == ticket.payerId">
                        <button style="margin-bottom: 5px" class="btn-sm btn btn-primary glyphicon glyphicon-pencil" href="#" ng-click='createOrEditTicket(ticket)'></button>
                        <button class="btn-sm btn btn-primary glyphicon glyphicon-remove" href="#" ng-click='remove(ticket)'></button>
                    </div>
                </div>
                <div class="loading-mask" ng-show="ticket.isLoading === true">
                    <img src="@routes.Assets.at("images/loading.gif")"/>

                </div>
            </li>
        </ul>
    </div>
</div>
}