@(title: String, account: dto.RoommateDTO)(content: Html)





<!DOCTYPE html>

<html>
    @pageElement.header()
<body ng-app="app" ng-controller="MainCtrl">
    <div class="global-container">

            <!-- menu for little screen : display only when the screen is smaller then 760px -->
        <div id="sidebar" class="visible-sm-block visible-xs-block">
            <ul ng-controller="LateralMenuCtrl">

                <!-- access link -->
                <li><a href="/home">@Messages("menu.home")</a></li>
                @if(account.isAdmin()) {
                    <li class="menu-item-lv-1" ng-class="{'menu-item-close':menuItemOpen(3)==false}">
                        <a href="#" ng-click="switchVisibility(3)">@Messages("menu.admin")
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                    </li>
                    <li class="menu-item-lv-2" ng-class="{'menu-item-close':menuItemOpen(3)==false}">
                        <a href="/admin/roommate_list">@Messages("menu.admin.roommate_list")</a>
                    </li>
                    <li class="menu-item-lv-2" ng-class="{'menu-item-close':menuItemOpen(3)==false}">
                        <a href="/admin/preferences">@Messages("menu.admin.preferences")</a>
                    </li>
                }

                <!-- count -->
                <li class="menu-item-lv-1" ng-class="{'menu-item-close':menuItemOpen(1)==false}">
                    <a href="#" ng-click="switchVisibility(1)">@Messages("menu.count")
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                </li>
                <li class="menu-item-lv-2" ng-class="{'menu-item-close':menuItemOpen(1)==false}">
                    <a href="/count/resume">@Messages("menu.count.resume")</a>
                </li>
                <li class="menu-item-lv-2" ng-class="{'menu-item-close':menuItemOpen(1)==false}">
                    <a href="/count/tickets">@Messages("menu.count.tickets")</a>
                </li>

                <!-- shopping -->
                <li>
                    <a href="/shopping/list">@Messages("menu.shopping.list")</a>
                </li>

                <!-- profile -->
                <li class="menu-item-lv-1" ng-class="{'menu-item-close':menuItemOpen(2)==false}">
                    <a href="#" ng-click="switchVisibility(2)" class="li-profile">
                        @widget.profile_icon(account)
                        @account.getName()
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                </li>

                <li class="menu-item-lv-2" ng-class="{'menu-item-close':menuItemOpen(2)==false}">
                    <a href="/profile/myProfile">@Messages("menu.myProfile")</a>
                </li>
                <li class="menu-item-lv-2" ng-class="{'menu-item-close':menuItemOpen(2)==false}">
                    <a href="/logout">@Messages("menu.logout")</a>
                </li>

                <!-- about -->
                <li><a href="/about">@Messages("menu.about")</a></li>
            </ul>
        </div>

            <!-- swipe area : used to display the menu with a swipe -->
        <div class="swipe-area hidden-md hidden-lg"></div>
        <div id="main-header-container" class="hidden-md hidden-lg">

                <!-- header -->
            <header>

                    <!-- little screen menu button -->
                <div class="sidebar-button">
                    <button type="button" class="btn btn-default btn-s" data-toggle=".global-container" id="sidebar-toggle">
                        <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                    </button>
                </div>

                    <!-- title -->
                <h1>@Messages(title)</h1>
            </header>
        </div>

            <!-- main content -->
        <div class="main-body">
            <div id="main-header-container" class="hidden-sm hidden-xs">

                    <!-- header -->
                <header>

                        <!-- title -->
                    <h1>@Messages(title)</h1>
                </header>
            </div>

    <div class="container main-container">

                    <!-- big menu -->
                <div class="row hidden-sm hidden-xs">


                    <nav class="navbar navbar-default large-menu">
                        <div class="container-fluid">

                            <div class="collapse navbar-collapse">
                                <ul class="nav navbar-nav navbar-lev-1">

                                    <li><a href="/home">@Messages("menu.home")</a></li>

                                    <!-- admin -->
                                    @if(account.isAdmin()) {
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@Messages("menu.admin") <span class="caret"></span></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="/admin/roommate_list">@Messages("menu.admin.roommate_list")</a></li>
                                                <li><a href="/admin/preferences">@Messages("menu.admin.preferences")</a></li>
                                            </ul>
                                        </li>
                                    }

                                    <!-- count -->
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@Messages("menu.count") <span class="caret"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="/count/resume">@Messages("menu.count.resume")</a></li>
                                            <li><a href="/count/tickets">@Messages("menu.count.tickets")</a></li>
                                        </ul>
                                    </li>

                                    <!-- shopping -->
                                    <li>
                                        <a href="/shopping/list">@Messages("menu.shopping.list")</a>
                                    </li>



                                        <!-- about -->
                                    <li class="menu-right-element">
                                        <a href="/about">@Messages("menu.about")</a>
                                    </li>

                                        <!-- profile icon -->
                                    <li class="dropdown menu-right-element">
                                        <a href="#" class="dropdown-toggle menu-profile-icon" data-toggle="dropdown" role="button" aria-expanded="false">
                                            @widget.profile_icon(account)
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="/profile/myProfile">@Messages("menu.myProfile")</a></li>
                                            <li><a href="/logout">@Messages("menu.logout")</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>

                    <!-- content -->

                @content
            </div>
        </div>
    </div>
</body>
</html>