<!DOCTYPE html><!--\"Multipart/Alternative MIME\" format-->
<header>

</header>
<body>

<!-- header -->
<div>
</div>

<!-- body -->
<div style="min-height: 100px;padding:10px;">

    $content

</div>

<!-- footer -->
<div>
</div>

</body>