<head>
    <title>Je suis un titre</title>
    <meta charset="utf-8"/>
    <!-- change scale for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=0.6">

        <!-- icon-->
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

    <!-- javascript -->
    <script src="@routes.Assets.at("components/jquery/dist/jquery.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("components/bootstrap/dist/js/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("components/angular/angular.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("components/messenger/build/js/messenger.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery-touchswipe.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/menu-animation.js")" type="text/javascript"></script>

    <script src="@routes.Assets.at("javascripts/RoommateManagementCtrl.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/TicketCtrl.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/service/FlashService.js")" type="text/javascript"></script>



        <!-- css -->
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("components/bootstrap/dist/css/bootstrap.min.css")'/>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("components/bootstrap/dist/css/bootstrap-theme.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("components/messenger/build/css/messenger.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">

</head>